/* =========================================================
    SECCIÓN: CONTENEDOR PRINCIPAL DE ADOPTAR
========================================================= */
.cont-adoptar{
    min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
}

.cont-adoptar h1{
    margin-top: 100px; 
    font-size: 3rem;
    color: #4d7f6b;
    font-weight: 700;
    text-align: center;
}

.cont-adoptar h3{
    padding-bottom: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.4;
    text-align: center;
}

/* =========================================================
    SECCIÓN: GRILLA DE MASCOTAS
========================================================= */
.grilla {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    max-width: 1200px;
    width: 80%;
    margin: 0px auto;
}

.elem-grilla {
    border-radius: 10px;
    padding: 15px;
    text-align:left;
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.elem-grilla img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.elem-grilla h3 {
    display: grid;
    margin: 10px 0 5px;
    font-family: 'Nunito', sans-serif;
    justify-content: start;
    font-weight: bold;
}

.adoptar-p {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0px;
}

.ver-mas {
    font-family: 'Nunito', sans-serif;
    color: #212529;
    text-decoration: none;
}

.elem-btn {
    font-family: 'Nunito', sans-serif;
    align-self: center;
    margin-top: 10px;
    padding: 10px 15px;
    background: #49816e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.elem-btn:hover {
    background: #246e6f;
}

/* =========================================================
    SECCIÓN: PAGINACION
========================================================= */

/* Contenedor centrado */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

/* Botones generales: círculos huecos verdes */
.pag-btn {
    background: #faf4ed;              /* fondo igual que la página */
    color: #4d7f6b;                 /* texto verde */
    border: 2px solid #4d7f6b;      /* borde verde */
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;

    /* sin hover */
    transition: none;
}

/* Página activa */
.pag-btn.active {
    background: #4d7f6b;   /* fondo verde */
    color: white;          /* texto blanco */
}

/* Elipsis (...) */
.dots {
    font-size: 20px;
    color: #4d7f6b;
    font-weight: bold;
    padding: 0 5px;
}

/* Prev y Sig: NO circulares */
.pag-btn.nav {
    padding: 10px 30px;
    border-radius: 15px;     /* suaves, no circulares */
    background: #4d7f6b;
    color: #faf4ed;
    border: 1px solid #4d7f6b;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}


/* =========================================================
    SECCIÓN: DROPDOWN DE FILTROS
========================================================= */

.dropdown-filtros {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    position: relative;
}

/* Texto "Filtros" + ícono */
.filtros {
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 38px;
}

.icono-filtros {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

/* --------------------- contador redondo --------------------- */
.cont-filtros{
    margin-top: 2px;
    background-color: #619885;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

/* --------------------- menú desplegable --------------------- */
.menu-filtros {
    position: absolute;
    top: 100%;
    left: 38px;
    z-index: 10;

    display: none;
    flex-direction: column;
    gap: 18px;

    background: #faf4ed;
    padding: 20px;
    border: 3px solid #4d7f6b;
    border-radius: 5px;
    width: 413px;
}

/* cuando el menú está visible */
.menu-filtros.activo {
    display: flex;
}

/* --------------------- secciones dentro del menú --------------------- */
.seccion-filtro h4 {
    margin-bottom: 7px;
    font-size: 16px;
}

.seccion-filtro .opciones {
    display: flex;
    gap: 15px;
}

.seccion-filtro .opciones label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Botón buscar */
.btn-buscar {
    background-color: white;
    color: #4d7f6b;
    border: 2px solid #4d7f6b;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-buscar:hover {
    background-color: #4d7f6b;
    color: white;
}

.btn-buscar:active{
    background-color: #4d7f6b;
    color: white;
    transform: scale(0.95); 
}

/* =========================================================
    SECCIÓN: CHECKBOX ESTILO "ESTRELLA"
========================================================= */

/* checkbox oculto */
.check-real {
    display: none;
}

/* contenedor clickeable */
.filtro-option {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    border: 1px solid #4d7f6b;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.2s ease;
    font-size: 16px;
    color: #4d7f6b;
    user-select: none;
}

/* estrella */
.star-icon {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    background-image: url("../img/star1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.25s ease;
}

/* cuando está seleccionado la estrella aparece */
.check-real:checked + .star-icon {
    opacity: 1;
    transform: scale(1);
}

/* =========================================================
    SECCIÓN: HISTORIAS
========================================================= */

.cont-historias{
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-left: 135px;
        padding: 20px;
        margin-right: 135px;
}

.cont-historias p{
        font-size: 18px;
        padding-left: 10px;
}

.historias-img{
        width: 440px;
        height: 443px;
        object-fit: cover;
        border-radius: 5px;
}

.cont-historias h3{
    margin-top: 0px;
}