.grilla {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 900px;
        margin: auto;
        padding: 20px;
    }

.elem-grilla {
        border-radius: 10px;
        padding: 15px;
        text-align:left;
}

.elem-grilla img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 5px;
}

.elem-grilla h3 {
        margin: 10px 0 5px;
}

.elem-btn {
        align-self: center;
        margin-top: 10px;
        padding: 10px 15px;
        background: #2c7a7b;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
}

.elem-btn:hover {
        background: #246e6f;
}

.ver-mas {
    color: #0077cc;
    text-decoration: none;
}

.cont-adoptar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}