/* =========================================================
    SECCIÓN: CONTENEDOR PRINCIPAL DE ADOPTAR
========================================================= */
.cont-adoptar{
    min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

.cont-adoptar h1{
    margin-top: 100px; 
    font-size: 3rem;
    color: #4d7f6b;
    font-weight: 700;
    text-align: center;
}

.cont-adoptar h3{
    padding-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.4;
    padding-left: 10px;
}
h3.h3-menu{
    padding-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
}

h3.h3-grilla{
    padding-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.4;
    padding-left: 0px;
}

/* =========================================================
    SECCIÓN: DROPDOWN DE FILTROS
========================================================= */

.dropdown-filtros {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0 auto;
    position: relative;
}

/* Texto "Filtros" + ícono */
.filtros {
    display: inline-flex;
    gap: 8px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 38px;
}

.icono-filtros {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

/* --------------------- contador redondo --------------------- */
.cont-filtros{
    margin-top: 2px;
    background-color: #619885;
    color: #faf4ed;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

/* --------------------- menú desplegable --------------------- */
.menu-filtros {
    position: absolute;
    top: 100%;
    left: 38px;
    z-index: 10;

    display: none;
    flex-direction: column;
    gap: 18px;

    background: #faf4ed;
    padding: 20px;
    border: 3px solid #4d7f6b;
    border-radius: 5px;
    width: 413px;
}

/* cuando el menú está visible */
.menu-filtros.activo {
    display: flex;
}

/* --------------------- secciones dentro del menú --------------------- */
.seccion-filtro h4 {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
}

.seccion-filtro .opciones {
    display: flex;
    gap: 15px;
}

.seccion-filtro .opciones label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Botón buscar */
.btn-buscar {
    background-color: #faf4ed;
    color: #4d7f6b;
    border: 2px solid #4d7f6b;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-buscar:hover {
    background-color: #4d7f6b;
    color: #faf4ed;
}

.btn-buscar:active{
    background-color: #4d7f6b;
    color: #faf4ed;
    transform: scale(0.95); 
}

/* =========================================================
    SECCIÓN: CHECKBOX ESTILO "ESTRELLA"
========================================================= */

/* checkbox oculto */
.check-real {
    display: none;
}

/* contenedor clickeable */
.filtro-option {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 14px;
    border: 1px solid #4d7f6b;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.2s ease;
    font-size: 16px;
    color: #4d7f6b;
    user-select: none;
}

/* estrella */
.star-icon {
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    background-image: url("../img/star1.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.25s ease;
}

/* cuando está seleccionado la estrella aparece */
.check-real:checked + .star-icon {
    opacity: 1;
    transform: scale(1);
}



/* =========================================================
    SECCIÓN: GRILLA DE MASCOTAS
========================================================= */
.grilla {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    max-width: 1200px;
    width: 80%;
    margin: 0px auto;
}

.elem-grilla {
    border-radius: 10px;
    padding: 15px;
    text-align:left;
    margin-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.elem-grilla img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.elem-grilla h3 {
    display: grid;
    margin: 10px 0 5px;
    font-family: 'Nunito', sans-serif;
    justify-content: start;
    font-weight: bold;
}

.adoptar-p {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0px;
}

.ver-mas {
    font-family: 'Nunito', sans-serif;
    color: #212529;
    text-decoration: none;
    font-style:italic;
}

.elem-btn {
    font-family: 'Nunito', sans-serif;
    align-self: center;
    margin-top: 10px;
    padding: 10px 15px;
    background: #49816e;
    color: #faf4ed;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}

.elem-btn:hover {
    background: #246e6f;
    transform: scale(1.05);
}

/* ---------------- ICONOS DE ACCIÓN ---------------- */

.iconos-acciones {
    position: absolute;
    top: -20px;
    right: 10px;
    display: flex;
    gap: 8px;
    transition: opacity .25s ease;
}

.elem-grilla {
    position: relative;
}

img.icono-accion {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform .2s ease;
}

.icono-accion:hover {
    transform: scale(1.15);
}

/* mostrar iconos al pasar el mouse */
.elem-grilla:hover .iconos-acciones {
    opacity: 1;
}



/* ---------- PANEL DE EDICIÓN DE GRILLA DE PERRITOS ---------- */

.panel-editar {
    position: fixed;
    top: 0;
    right: -400px;   /* oculto inicialmente */
    width: 350px;
    height: 100vh;
    background: #faf4ed;
    border-left: 3px solid #4d7f6b;
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 200;
}

.panel-editar.activo {
    right: 0;        /* aparece */
}

.panel-contenido {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cerrar-panel {
    font-size: 30px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 10px;
}

.editar-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid #4d7f6b;
}

.input-editar {
    padding: 8px 12px;
    border: 2px solid #4d7f6b;
    border-radius: 8px;
    outline: none;
}

.btn-guardar {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4d7f6b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


.editar-img-label {
    cursor: pointer;
    display: block;
    width: 100%;
}

.editar-img:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}



/* =========================================================
    SECCIÓN: PAGINACION
========================================================= */

/* Contenedor centrado */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
}

/* Botones generales: círculos huecos verdes */
.pag-btn {
    background: #faf4ed;              /* fondo igual que la página */
    color: #4d7f6b;                 /* texto verde */
    border: 2px solid #4d7f6b;      /* borde verde */
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;

    /* sin hover */
    transition: 0.3s;
}

.pag-btn:hover {
    transform: scale(1.05);
}

/* Página activa */
.pag-btn.active {
    background: #4d7f6b;   /* fondo verde */
    color: #faf4ed;          /* texto blanco */
}

/* Elipsis (...) */
.dots {
    font-size: 20px;
    color: #4d7f6b;
    font-weight: bold;
    padding: 0 5px;
}

/* Prev y Sig: NO circulares */
.pag-btn.nav {
    padding: 10px 30px;
    border-radius: 15px;     /* suaves, no circulares */
    background: #faf4ed;
    color: #4d7f6b;
    border: 2px solid #4d7f6b;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}




/* =========================================================
    SECCIÓN: HISTORIAS
========================================================= */
.hist-title{
    padding-top: 200px;
}
.cont-historias{
        /* margin-top: 80px; */
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-left: 135px;
        padding-left: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 25px;
        margin-right: 135px;
        font-family: 'Nunito', sans-serif;
}

.cont-historias p{
        font-size: 18px;
        padding-left: 60px;
}

.cont-historias h3{
    margin-top: 0px;
    font-weight: bold;
    color: #4d7f6b;
    padding-left: 60px;
}


/* Imagen */
.historias-img {
    width: 440px; 
    height: 480px;
    border-radius: 5px;
    object-fit: cover;
}

/* Envolver imagen */
.hist-img-cont {
    position: relative;
    display: inline-block;
}

/* Contenedor de íconos */
.hist-icons {
    position: absolute;
    top: -30px;
    right: -3px;
    display: flex;
    gap: 8px;
    z-index: 10;
}

/* Íconos */
.icono-hist {
    width: 28px;
    height: 28px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;
}

.icono-hist:hover {
    transform: scale(1.1);
}





/* --------------Panel--------------*/

.edit-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Contenido del panel */
.edit-content {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Imagen */
.edit-img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    margin: 15px 0;
    border: 2px solid #6bbd8b;
}

/* Botón "Elegir foto" */
.btn-file {
    background: #6bbd8b;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-file input {
    display: none;
}

/* Botón Cerrar */
.btn-cerrar {
    background: transparent;
    border: 2px solid #6bbd8b;
    padding: 10px 18px;
    border-radius: 8px;
    color: #6bbd8b;
    cursor: pointer;
    font-weight: bold;
}

.btn-cerrar:hover {
    background: #6bbd8b;
    color: white;
}
