* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.login-btn {
    background-color: white;
    color: #4d7f6b; 
    border: 2px solid #4d7f6b;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

a.login-btn{
    font-size: 1.3rem;
}


.login-btn:active {
    background-color: #4d7f6b;
    color: white;
    transform: scale(0.95); 
}

.login-btn:hover {
    background-color: #4d7f6b;
    color: white;
}

.adoptar:hover {
    background-color: #4d7f6b;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(77, 127, 107, 0.6);
}
body{
   background-color: #faf4ed;
}

nav {
    font-family: "Nunito", sans-serif;
    background-color: #619885;
}

footer {
    background-color: #619885;
    height: 140px;
}


.nav-btn {
        position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-weight: 600;
    
    text-decoration: none;
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf4ed;
}

.nav-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-btn:hover::after {
    width: 100%;
}



.login-btn {
    text-decoration: none;
    width: auto;
    font-size: medium;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4ed;
    color: #619885;
}

.homeContainerMain{
      max-width: 1700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;  


    width: 100%;
    background-color: #faf4ed; 
    padding: 0;
    justify-content: center; 
}

.homeBannerContainer1 {
        height: 100vh; 

    background-color: #faf4ed;
     width: 100%;
    max-width: 1700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    text-align: left;
 
}

.homeBannerText1 {
    padding: 50px;
    flex: 1;
    font-family: 'Nunito', sans-serif;
}

 h1 {

    text-align: center;
        margin-top: 0; 
    transform: translateY(-50px); 
    font-size: 3rem;
    color: #4d7f6b;
    font-weight: 700;
}

.homeBannerText1 p {
        padding-left: 30px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    margin-top: 20px;
    line-height: 1.4;
}

.homeBannerText1 h3 {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.homeBannerP{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBannerText1 button {
    margin-top: 0px;
    padding: 18px 95px;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
}

.homeImage1 {
    flex: 1;
    padding: 0;
    height: 100%;

}

.homeImage1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}



.homeBannerContainer2 {
      max-width: 1700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 768px;
    background-image: url("../img/inicio/inicioPerro2.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    position: relative;
}


.homeBannerContainer2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.homeBannerText2 {
    position: relative; 
    max-width: 600px;
    color: white;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeBannerText2 h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

.homeBannerText2 p {

    font-size: 1.5rem;
    margin-top: 15px;
    line-height: 1.4;
      max-width: 600px;   
    margin: 0 auto;   
    text-align: center; /
}

.home-btn {
    margin-top: 25px;
    padding: 15px 35px;
    border: none;
    background-color: #4d7f6b;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */
.home-btn:hover {
    background-color: #4d7f6b;
    transform: scale(1.05);
}
/* Responsivo */
@media (max-width: 768px) {

    .homeBannerContainer1 {
        flex-direction: column-reverse;
        text-align: center;
    }



    .homeBannerText1 h1 {
        font-size: 4rem;
        transform: translateY(0); /* evita que se corte */
    }

    .homeBannerText1 p {
        font-size: 1.1rem;
    }

    .homeBannerText2{
        align-items: center;
        text-align: center;
    }

    .homeImage1 {
        height: auto;
    }

    .homeImage1 img {
        margin: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

        .footer-simple .container {
        text-align: center;
        flex-direction: column !important;
        gap: 25px;
    }

    footer{
        height: auto;
    }

    .footer-simple img.footer-logo {
        margin: 0 auto;
    }

    .footer-simple h5 {
        margin-bottom: 8px;
        font-size: 1.2rem;
    }

    .footer-simple p {
        margin: 4px 0;
        font-size: 1rem;
    }

    .footer-icon {
        width: 45px;
        height: 45px;
        margin: 10px;
    }

      .carousel-item img {
        height: 250px;
    }
    h1{
        padding: 6px;
    }

}


.homeFbPosts {
    display: flex;
    justify-content:center;
    align-items: stretch;
    gap: 20px;              
    flex-wrap:wrap;          
    padding: 20px 0;
}

.homeFbPosts .fb-post {
    display: flex;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    margin: 0 !important;
    height: 700px;

}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #000000;

    height: 100px;
        filter: brightness(500%);
        filter: opacity(1000);
        color: #faf4ed;


}

.homeBannerContainer4{
      position: relative;
  width: 100%;
  margin: auto;
}



.carousel-item img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
    height: 610px; 
    object-fit: cover;
    object-position: center;
}

.sticker {
  position: absolute;
  left: 30px;
  background: #ffef5a;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 8px 18px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transform: rotate(-10deg);
  z-index: 10;
  border: 2px dashed #e0a800;
}