* {
    margin: 0;
    padding: 0;
}

.login-btn {
    background-color: white;
    color: #4d7f6b; 
    border: 2px solid #4d7f6b;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}


.login-btn:active {
    background-color: #4d7f6b;
    color: white;
    transform: scale(0.95); 
}

.login-btn:hover {
    background-color: #4d7f6b;
    color: white;
}

.adoptar:hover {
    background-color: #4d7f6b;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(77, 127, 107, 0.6);
}
body{
   background-color: #ff961f;
}

nav {
    font-family: "Nunito", sans-serif;
    background-color: #619885;
}

footer {
    background-color: #619885;
    height: 140px;
}


.nav-btn {
        position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-weight: 600;
    
    text-decoration: none;
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf4ed;
}

.nav-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-btn:hover::after {
    width: 100%;
}



.login-btn {
    text-decoration: none;
    width: auto;
    font-size: medium;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4ed;
    color: #619885;
}

.containerMain{
    width: 100%;
  background-color: #4CAF50; 
  padding: 0;
  display: contents;
  justify-content: center; 
}

.bannerContainer {
    background-color: #faf4ed;
     width: 100%;
    max-width: 1700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;

  flex-direction: row;
  text-align: center;
 
}

.bannerText {
    flex: 1;
    font-family: 'Nunito', sans-serif;
}

.bannerText h1 {
    font-size: 3rem;
    color: #4d7f6b;
    font-weight: 700;
}

.bannerText p {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.bannerText h3 {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.bannerText button {
    margin-top: 30px;
    padding: 18px 35px;
    background-color: #4d7f6b;
    color: white;
    border: none;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.mainImage {
    flex: 1;
    padding: 0;
}

.mainImage img {
    width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
