* {
    margin: 0;
    padding: 0;
}

.login-btn {
    background-color: white;
    color: #4d7f6b; 
    border: 2px solid #4d7f6b;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}


.login-btn:active {
    background-color: #4d7f6b;
    color: white;
    transform: scale(0.95); 
}

.login-btn:hover {
    background-color: #4d7f6b;
    color: white;
}

.adoptar:hover {
    background-color: #4d7f6b;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(77, 127, 107, 0.6);
}
body{
   background-color: #faf4ed;
}

nav {
    font-family: "Nunito", sans-serif;
    background-color: #619885;
}

footer {
    background-color: #619885;
    height: 140px;
}


.nav-btn {
        position: relative;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    font-weight: 600;
    
    text-decoration: none;
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf4ed;
}

.nav-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-btn:hover::after {
    width: 100%;
}



.login-btn {
    text-decoration: none;
    width: auto;
    font-size: medium;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4ed;
    color: #619885;
}

.homeContainerMain{
      max-width: 1700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;  


    width: 100%;
  background-color: #4CAF50; 
  padding: 0;
  display: contents;
  justify-content: center; 
}

.homeBannerContainer1 {
        height: 100vh; 

    background-color: #faf4ed;
     width: 100%;
    max-width: 1700px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  flex-direction: row;
  text-align: center;
 
}

.homeBannerText1 {
    padding: 50px;
    flex: 1;
    font-family: 'Nunito', sans-serif;
}

.homeBannerText1 h1 {
        margin-top: 0; 
    transform: translateY(-50px); 
    font-size: 3rem;
    color: #4d7f6b;
    font-weight: 700;
}

.homeBannerText1 p {
    padding-bottom: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.4;
}

.homeBannerText1 h3 {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.homeBannerText1 button {
    margin-top: 0px;
    padding: 18px 35px;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.homeImage1 {
    flex: 1;
    padding: 0;
    height: 100%;

}

.homeImage1 img {
    width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}



.homeBannerContainer2 {
      max-width: 1700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 768px;
    background-image: url("img/inicioPerro2.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    position: relative;
}


.homeBannerContainer2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.homeBannerText2 {
    position: relative; 
    max-width: 600px;
    color: white;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeBannerText2 h2 {
    font-size: 2.8rem;
    font-weight: 700;
}

.homeBannerText2 p {

    font-size: 1.5rem;
    margin-top: 15px;
    line-height: 1.4;
      max-width: 600px;   
    margin: 0 auto;   
    text-align: center; /
}

.home-btn {
    margin-top: 25px;
    padding: 15px 35px;
    border: none;
    background-color: #4d7f6b;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */
.home-btn:hover {
    background-color: #4d7f6b;
    transform: scale(1.05);
}
/* Responsivo */
@media (max-width: 768px) {
    .homeBannerText2 {
        text-align: center;
        max-width: 90%;
    }
    .homeBannerContainer2{
        justify-content: center;
        padding: 40px 20px;
    }

    .homeBannerContainer1{
       display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column-reverse;
        text-align: center;
    }
 
}