* {
    margin: 0;
    padding: 0;
}

body{
   background-color: #ff961f;
}

nav {
    font-family: "Nunito", sans-serif;
    background-color: #619885;
}

footer {
    background-color: #619885;
    height: 140px;
}


.nav-btn {
    
    text-decoration: none;
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf4ed;
}

.login-btn {
    text-decoration: none;
    width: auto;
    font-size: medium;
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf4ed;
    color: #619885;
}

.containerMain{
    width: 100%;
  background-color: #4CAF50; /* o la imagen que uses */
  padding: 0; /* Sin padding lateral */
  display: contents;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.bannerContainer {
     width: 100%;
    max-width: 1700px; /* opcional, para que no se estire demasiado */
    margin: 0 auto; /* centrar contenido */
    display: flex;
    justify-content: space-between;
    align-items: center;

  flex-direction: row;
  text-align: center;    /* centra texto */
 
}

.bannerText {
    flex: 1;
    font-family: 'Nunito', sans-serif;
}

.bannerText h1 {
    font-size: 3rem;
    color: #4d7f6b; /* verde del ejemplo */
    font-weight: 700;
}

.bannerText p {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.bannerText h3 {
    font-size: 1.35rem;
    margin-top: 20px;
    line-height: 1.4;
}

.bannerText button {
    margin-top: 30px;
    padding: 18px 35px;
    background-color: #4d7f6b;
    color: white;
    border: none;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.mainImage {
    flex: 1;
    padding: 0;
}

.mainImage img {
    width: 100%;
  height: 100%;
  object-fit: cover;  /* se recorta sin deformarse */
  display: block;
}
